---
layout: default
---
{%- include layouts/welcome.html -%}
<section>
    <h1>
        Give today to help Selfless Service continue to serve its propose
    </h1>
    <article>
        <div>
            <h2>
                Donation Amount
            </h2>
            <ul>
                <li>$5</li>
                <li>$10</li>
                <li>$15</li>
                <li>$20</li>
                <li>$50</li>
                <li>$100</li>
                <li>$500</li>
                <li>$1000</li>
            </ul>
        </div>
       <div>
           <h2>
               Donation Frequency
           </h2>
           <select name="" id="">
               <option value=""></option>
               <option value=""></option>
               <option value=""></option>
           </select>
       </div>
       <div>
           <h2>
               Additional Comments
           </h2>
           <textarea name="" id="" cols="30" rows="10" placeholder="Write a public note about why you’re choosing to donate!"></textarea>
       </div>
       <div>
            <div>
            <input type="checkbox" id="p-amount" name="p-amount" checked>
            <label for="p-amount">Post my donation amount</label>
            </div>
            
            <div>
            <input type="checkbox" id="p-name" name="p-name" checked>
            <label for="p-name">Post my name</label>
            </div>
       </div>
       <button>
           Donate
       </button>
    </article>
</section>