---
layout: default
---

<section>
    {%- include layouts/welcome.html -%}
    <article>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I2I_5eraBPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h3>
            Who are we
        </h3>
        <p>
            Selfless Service is a group of youths who are trying to make a difference in their society by going from one community to another feeding, clothing and helping the needy. We also conduct community services like cleaning the drainages, sweeping the environments, free-will donations of books to schools and many more. 
        </p>
    </article>
</section>