---
layout: default
---

<section>
    <h3>
        Become a Volunteer
    </h3>
    <p>
        Join hundreds of youths making a difference all over the world
    </p>
    <div>
        <input type="text" placeholder="Firstname">
        <input type="text" placeholder="Surname">
        <input type="mail" placeholder="Email">
        <input type="number" placeholder="Phone Number">
    </div>
    <div>
        <input type="text" placeholder="State or Province">
        <input type="text" placeholder="Country">
    </div>
    <button>
        Proceed
    </button>
</section>