main {
  padding: 80px;
  padding-bottom: 160px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.bubbles {
  position: absolute;
  z-index: -1;
  left: -40px;
  margin-top: -15px;

  img {
    width: 230px;
  }
}

.right-big-circle {
  width: 150px;
  position: absolute;
  z-index: -1;
  right: 0;
  margin-top: 220px;
  overflow: hidden;
}

.mainTitle {
  width: 450px;
  margin-top: 50px;
}

.mainTitle > p {
  text-shadow: $shadow;
  line-height: 60px;
  margin-bottom: 25px;
}

.mainSubtitle p {
  line-height: 25px;
}

.mainImage {
  position: absolute;
  background-image: url(../images/homebg.jpg);
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 350px;
  border-radius: 3px;
  box-shadow: $shadow;
  right: 80px;
}

#about {
  // padding: 80px;
  display: flex;

  .video {
    width: 50%;
  }

  .about {
    width: 50%;
    background-color: $primary-color;
    padding: 30px;
  }
}

.aboutDetails {
  background-color: rgba(255, 215, 0, 1);
  position: absolute;
  width: 350px;
  margin-top: -350px;
  padding: 50px;
}

.aboutDetails p {
  margin-bottom: 30px;
}

#events {
  background-color: #111;
  // padding: 80px;
  padding-top: 50px;

  .title {
    margin-bottom: 30px;

    p:first-child {
      letter-spacing: 10px;
      float: left;
    }
    
    p:nth-of-type(2) {
      letter-spacing: 5px;
      float: right;
    }
  }
}

// Events

.row {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  .column {
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.3);
    height: 400px;
    width: 50%;
    box-shadow: $shadow;

    &:hover {
      .column-details {
        display: block;
        transition: 0.3s all;
      }
    }

    .column-details {
      height: 400px;
      text-align: center;
      position: relative;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      display: none;
      transition: 0.3s all;

      p:first-child {
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      p:nth-of-type(2) {
        letter-spacing: 1px;
        padding-left: 100px;
        padding-right: 100px;
      }

      p:nth-of-type(3) {
        letter-spacing: 1px;
        margin-top: 5px;
      }

      button {
        margin-top: 10px;
        font-family: $secondary-font2;
        color: $black !important;
        letter-spacing: 1px;
      }

      .column-details-inner {
        padding-top: 20%;
      }
    }
  }
}

#highlights {
  background-color: $primary-color;
  padding: 80px;
  padding-top: 50px;

  .title {
    letter-spacing: 10px;
    margin-bottom: 30px;
  }
}

.all-highlights {
  white-space: nowrap;
  width: 100%;
  overflow: auto;

  .highlights {
    display: inline-block;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 300px;
  }
}

#donate {
  background-color: rgba(0,0,0,0.6);
  background-image: url(../images/donate.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 80px;

  .donateInner {
    text-align: center;

    p:nth-of-type(2) {
      padding-left: 35%;
      padding-right: 35%;
      line-height: 30px;
    }

    button {
      margin-top: 20px;
      color: $black !important;
    }
  }
}

#team {
  background-color: $primary-color;
  padding: 80px;
  padding-top: 50px;

  .title {
    letter-spacing: 10px;
    margin-bottom: 30px;
  }

  .team {
    display: flex;
    white-space: nowrap;
    overflow: auto;

    .team-details {
      width: 200px;
      margin-right: 50px;

      .image {
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        box-shadow: $shadow;
      }

      .details {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}
