@import 'variables.scss';
@import 'home.style.scss';
@import 'volunteer.style.scss';
@import 'events.style.scss';

* {
  padding: 0;
  margin: 0;
}

button, input, textarea {
  outline: none;
}

a {
  font-family: $secondary-font;
  font-size: 14px;
  text-decoration: none;
  text-shadow: $shadow;
}

button {
  border: none;
  font-weight: bold;
  box-shadow: $shadow;
  text-shadow: $shadow;
  cursor: pointer;
}

header .logo {
  margin-left: 80px;
  margin-top: 30px;
}

header {
  background-color: transparent;
}

nav {
  float: right;
  margin-top: -55px;
}

nav li {
  display: inline;
  margin-right: 50px;
}

nav li:last-child {
  margin-right: 80px;
}

footer {
  background-color: $black;
  padding: 80px;
}

.clear {
  clear: both;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    cursor: pointer;
  }
}
