// colors
$primary-color: #FFD700;
$black: #000000;
$white: #FFFFFF;
$grayFB: #FBFBFB;
$shadow: 1px 10px 20px rgba(0, 0, 0, 0.25);
$blendModeColor: rgba(0, 0, 0, 0.25);

// fonts
$primary-font: 'Literata', sans-serif;
$secondary-font: 'Quicksand', sans-serif;
$secondary-font2: 'Space Mono', monospace;
$secondary-font3: 'Sacramento', cursive;
