<section>
    <h2>
        Events
    </h2>
    <article>
        <img src="https://res.cloudinary.com/moyin/image/upload/v1564674000/Rectangle_6.png" alt="">
        <h3>
            Book Drive
        </h3>
        <p>The Nest, Yaba, Lagos</p>
        <p>13th July 2018</p>
    </article>
    <article>
        <img src="https://res.cloudinary.com/moyin/image/upload/v1564673741/Rectangle_6.1.png" alt="">
        <h3>
            Dry their tears
        </h3>
        <p>National Stadium, Surulere, Lagos</p>
        <p>13th July 2018</p>
    </article>
    <article>
        <img src="https://res.cloudinary.com/moyin/image/upload/v1564673781/Rectangle_6.2.png" alt="">
        <h3>
            Golden Kids
        </h3>
        <p>Lesotho, South Africa</p>
        <p>13th July 2018</p>
    </article>
</section>